  .home-box-container{
    /* justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center; */
    border: 2px solid #ccc; /* Add border to the inner container */
    border-radius: 20px;
    /* position: fixed; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 70%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.8); /* White with 50% transparency */
  }


  .home-container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .lucky-text{
    margin: 20px;
    white-space: pre-line;
  }


  .number-header{
    color: #ffff;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; /* Border effect */
    margin-top: 20px;
    }
    